# Supabase
.branches
.temp

# dotenvx
.env.keys
.env.local
.env.*.local



# Seeding function file
seed.ts

# Snippets folder as currently generating snippets from supabase sql editor
/snippets

/seed.sql